/*Colors*/
:root {
    --scroll: #3e3e3f;
    --body: #8b8b8b;
    --bg-elements: #e6e7e7;
    --nav: #ffffff;
    --font: #b8cdda;
    --hero: linear-gradient(60deg, rgb(163, 197, 147) 0%, rgba(85, 194, 66, 0.733) 49%, rgba(172,214,157,1) 100%);
}

/*Scrollbar*/
body {
    background-color: var(--body);
}

body::-webkit-scrollbar { 
    width: 8px;   
}

body::-webkit-scrollbar-track {
    background: transparent
}
  
body::-webkit-scrollbar-thumb {
    position: fixed;
    background-color: var(--scroll); 
    border-radius: 20px;  
    border: 10px solid transparent;
}
/* Cita Informativa */

.date {
  top: 10rem;
  font-family: "Merriweather", serif;
  border-radius: 5px;
  background-color: green;
  max-width: 200px;
  color: white;
}

.date:hover {
  cursor: pointer;
  color: green;
  background: white;
  transition-duration: 0.3s;
  border: green 3px solid;
}

/*Navbar*/
.f-input {
    border-radius: 50px 50px 50px 50px;
    background: transparent;
}

.form {
    background-color: var(--bg-elements);
    border-radius: 50px 50px 50px 50px;
}

.logo-container {
    padding: 0 0 0 4rem;
}


.navbar {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9rem;
    background-color: var(--nav);
}

.dropdown-toggle {
    font-size: 0.9rem;
}

.search {
    font-size: 1.1rem;
    font-weight: bold;
    background-color: var(--bg-elements);
    border-radius: 50%;
    cursor: pointer;
}

.search:hover{
    background-color: #e5e5e5;
    transition-duration: 0.2s;
}

.cita {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    display: block;
}

.max { /*Maximia tu pensión*/
    color:var(--body) ;
}

.max:hover{
    color: black;
}

.tope {
  height: 85px;
}

/*Legend*/
.legend {
    background: var(--hero);
}

.img {
    width: 100%; 
    height: 80dvb; 
    object-fit: cover;
}

.what {
    left: 10%;
    top: 25%;
}

.what .row {
  color: var(--font); 
  background-color: rgba(0, 0, 0, 0.3); 
  border-radius: 5px;
}

.icons {
    color: var(--font);
}

.icons:last-child {
    margin-top: -.5rem;
}

.ley73_info {
    right: 10%;
    top: 60%;
}

.ley73_info .row div {
    color: var(--font); 
    background-color: rgba(0, 0, 0, 0.3); 
    border-radius: 5px;
}

.h1 {
    font-size: 150%; 
    font-family: 'Roboto Slab', serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}   

/* About Us */
.ab_us {
    background-color: #DBECD7;
}

.award {
    color: #F0C30D;
}

/* Servs */
.carousel-item img {
  width: 100%;
  height: 50vh; /* o el alto que prefieras */
  object-fit: cover; /* rellena el espacio sin deformar */
}

.caption * {
  font-size: 1.2rem;
}


/*NSS*/
.nss {
    background-color: #DBECD7;
}

.r-nss {
    font-size: 1.14rem;
}

.img-nss {
    height: 35%;
}

.img-nss img {
    width: 85%;
}

.wsp {
    color: #6ba54a;
}

/*Location*/
.location-container {
    background: var(--hero);
}

.anchor{
    text-decoration: none;
}

.anchor:hover {
    text-decoration: underline;
}

/*Contact Us*/
.info {
    background-color: #2f4d8d; 
    color: #b1c2e5; 
    margin-top: -10px;
}

.loc {
    width: 25%;
}

.info-item a {
    color: #b1c2e5;
    text-decoration: none;
}

.info-item a:hover {
    color: black;
    text-decoration: underline;
}

.ley73 p:hover, .follow p:hover, .num p:hover, .loc p:hover {
    text-decoration: underline;
    color: black;
    cursor: pointer;
}

/*Copy Right*/

.copy {
    background-color: #284278;
}

/*Media Querys*/

@media (min-width: 0px) and (max-width: 992px){
    .loc {
        width: 100%;
    }
}

@media (min-width: 1400px) and (max-width: 6000px) {
    .about-text {
        max-width: 1800px;
    }

    .about-img, .nss-left {
        max-width: 600px;
    }

    .mynavbar_body, .top-part, .bottom-part {
        max-width: 1400px; 
    }

    .top-part, .bottom-part {
	    min-width: 1300px;
    }

    .mynavbar_body{
        min-width: 1400px;
    }

    .m_sep {
        max-width: 500px;
        min-width: 380px;
    }

    .navnav {
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .what {
      left: 30%;
    }

    .ley73_info {
      right: 40%;
    }

    .about-text{
        min-width: 800px;
    }

    .about-img{
        min-width: 400px;
    }

    .caption *{
      font-size: 2.5rem;
    }

    .carousel-item img {
      height: 90vh;
    }

    .nss-left {
        min-width: 650px;
    }

    .nss-right {
        max-width: 625px;
        min-width: 600px;
    }

    .location-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info-item {
        max-width: 350px;
        min-width: 300px
    }
}

/* CITA BUTTON */ 
/* From Uiverse.io by adamgiebl */ 
button {
  font-family: inherit;
  font-size: 20px;
  background: rgb(37, 109, 32);
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
  transform: translateX(5em);
}

button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

.container::after {
  content: "";
  position: absolute;
  inset: 0;
  animation:
    after-anim-opacity 5s linear infinite,
    weee 10s linear infinite;
  background-repeat: repeat-y;
  background-size:
    50px 20px,
    50px 20px,
    50px 80px,
    50px 80px,
    50px 80px,
    50px 80px,
    50px 80px,
    50px 80px;
  background-position-x: 4px, 54px, calc(var(--w) * 1 + 4px),
    calc(var(--w) * 1 + 54px), calc(var(--w) * 2 + 4px),
    calc(var(--w) * 2 + 54px), calc(var(--w) * 3 + 4px),
    calc(var(--w) * 3 + 54px), calc(var(--w) * 4 + 4px),
    calc(var(--w) * 4 + 54px);
  background-image: none, none,
    linear-gradient(
      45deg,
      var(--c) 0% 30.76923076923077%,
      transparent 30.76923076923077% 61.53846153846154%,
      var(--c) 61.53846153846154% 92.3076923076923%,
      transparent 92.3076923076923%
    ),
    linear-gradient(
      -45deg,
      var(--c) 0% 30.76923076923077%,
      transparent 30.76923076923077% 61.53846153846154%,
      var(--c) 61.53846153846154% 92.3076923076923%,
      transparent 92.3076923076923%
    ),
    none, none,
    linear-gradient(
      45deg,
      var(--c) 0% 30.76923076923077%,
      transparent 30.76923076923077% 61.53846153846154%,
      var(--c) 61.53846153846154% 92.3076923076923%,
      transparent 92.3076923076923%
    ),
    linear-gradient(
      -45deg,
      var(--c) 0% 30.76923076923077%,
      transparent 30.76923076923077% 61.53846153846154%,
      var(--c) 61.53846153846154% 92.3076923076923%,
      transparent 92.3076923076923%
    );
}

@keyframes after-anim-opacity {
  5% {
    opacity: 1;
  }
  0%,
  4.99%,
  20%,
  100% {
    opacity: 0;
  }
}

.container::before {
  content: "";
  position: absolute;
  inset: 0;
  animation:
    before-anim-opacity 5s linear infinite,
    before-anim-bg 5s step-start infinite,
    weee 10s linear infinite;
  background-repeat: repeat-y;
  background-size:
    50px 20px,
    50px 20px,
    50px 80px,
    50px 80px,
    50px 80px,
    50px 80px,
    50px 80px,
    50px 80px;
  background-position-x: 4px, 54px, calc(var(--w) * 1 + 4px),
    calc(var(--w) * 1 + 54px), calc(var(--w) * 2 + 4px),
    calc(var(--w) * 2 + 54px), calc(var(--w) * 3 + 4px),
    calc(var(--w) * 3 + 54px), calc(var(--w) * 4 + 4px),
    calc(var(--w) * 4 + 54px);
}

@keyframes before-anim-opacity {
  0%,
  10.4% {
    opacity: 1;
  }
  9.9%,
  10.3999%,
  30%,
  100% {
    opacity: 0;
  }
}

@keyframes before-anim-bg {
  0%,
  9.9%,
  99% {
    background-image: none, none, none, none,
      linear-gradient(
        45deg,
        var(--c) 0% 30.76923076923077%,
        transparent 30.76923076923077% 61.53846153846154%,
        var(--c) 61.53846153846154% 92.3076923076923%,
        transparent 92.3076923076923%
      ),
      linear-gradient(
        -45deg,
        var(--c) 0% 30.76923076923077%,
        transparent 30.76923076923077% 61.53846153846154%,
        var(--c) 61.53846153846154% 92.3076923076923%,
        transparent 92.3076923076923%
      );
  }
  10%,
  40% {
    background-image: linear-gradient(
        45deg,
        var(--c) 0% 14.285714285714285%,
        transparent 14.285714285714285% 28.57142857142857%,
        var(--c) 28.57142857142857% 42.857142857142854%,
        transparent 42.857142857142854% 57.14285714285714%,
        var(--c) 57.14285714285714% 71.42857142857142%,
        transparent 71.42857142857142% 85.71428571428571%,
        var(--c) 85.71428571428571% 100%
      ),
      linear-gradient(
        -45deg,
        var(--c) 0% 14.285714285714285%,
        transparent 14.285714285714285% 28.57142857142857%,
        var(--c) 28.57142857142857% 42.857142857142854%,
        transparent 42.857142857142854% 57.14285714285714%,
        var(--c) 57.14285714285714% 71.42857142857142%,
        transparent 71.42857142857142% 85.71428571428571%,
        var(--c) 85.71428571428571% 100%
      ),
      none, none, none, none, none, none,
      linear-gradient(
        45deg,
        var(--c) 0% 14.285714285714285%,
        transparent 14.285714285714285% 28.57142857142857%,
        var(--c) 28.57142857142857% 42.857142857142854%,
        transparent 42.857142857142854% 57.14285714285714%,
        var(--c) 57.14285714285714% 71.42857142857142%,
        transparent 71.42857142857142% 85.71428571428571%,
        var(--c) 85.71428571428571% 100%
      ),
      linear-gradient(
        -45deg,
        var(--c) 0% 14.285714285714285%,
        transparent 14.285714285714285% 28.57142857142857%,
        var(--c) 28.57142857142857% 42.857142857142854%,
        transparent 42.857142857142854% 57.14285714285714%,
        var(--c) 57.14285714285714% 71.42857142857142%,
        transparent 71.42857142857142% 85.71428571428571%,
        var(--c) 85.71428571428571% 100%
      );
  }
}


/* From Uiverse.io by PriyanshSinghBisht */ 
.cont {
  width: 100%;
  height: 100%;
  /* Add your background pattern here */
  --s: 100px;
  --c-inner: #adf;
  --c-outer: skyblue;
  --c-outer2: rgb(98, 150, 234);

  background: radial-gradient(
    circle at 50% 99%,
    transparent 10%,
    var(--c-inner) 10% 30%,
    var(--c-outer) 30% 60%,
    var(--c-outer2) 60% 100%,
    transparent 100%
  );
  background-size: var(--s) var(--s);
  animation: move 30s infinite linear;
}

@keyframes move {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
